body{
  margin: 0px;
  padding: 0px;
  position: relative;
  
  overflow: hidden;
}
#main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: none;
}
#main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(208, 86, 86);
  height: 200px;
  width: 400px;
  border-radius: 36px;
  
  transition: all 0.2s ease-in-out;
  position: relative;
  transition: all 0.2s ease-out;
}
#main div:hover {
  box-shadow: 0px 0px 17px 5px rgba(255, 255, 255, 0.485);
  scale: 1.006 ;
}

#main div #title {
  font-size: 1.6rem;
  font-family:sans-serif;
  font-weight: bold;
}
#main div input[type="text"] {
  width: 9rem;
  height: 3rem;
  text-align: center;
  border-radius: 16px;
  border: none;
  font-size: 30px;
  transition: all 0.2s ease-out;
  font-family: monospace;
}

#main div input[type="text"]:hover {
  scale: 1.03;
  filter: drop-shadow(0px 0px 2px black);
}
button{
  margin-top: 1.5em;
  padding:.4em 1.5em ;
  border-radius: 9px;
  border: none;
  cursor: pointer; 
  transition: all 0.2s ease-out;
  font-family: monospace;

}
button:active
{
  scale: 0.97;
}
button:hover
{
  background-color: black;
  color: white;
  font-weight: bolder;

  box-shadow: 0px 0px 30px 3px rgb(236, 16, 16);

}
video{
  position: absolute;
width: 100vw;
  
}
 /* #main::before
{
  content:"";
  background-image: url(../../Projects/Images/blade-runner-giant-hologram-anime-jcf7sccmdayq4e8n.jpg);
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}  */





